<!-- index.html -->
<html>
<head>
    <title>Cardápio de Restaurante</title>
</head>
<body>
    <h1>Cardápio de Restaurante</h1>
    <p>Aqui você pode ver, adicionar, atualizar e deletar os pratos do cardápio.</p>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ingredientes</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
        {% for prato in pratos %}
        <tr>
            <td>{{ prato.id }}</td>
            <td>{{ prato.nome }}</td>
            <td>{{ prato.ingredientes }}</td>
            <td>{{ prato.preco }}</td>
            <td>
                <a href="{{ url_for('pratos.atualizar', prato_id=prato._id) }}">Atualizar</a>
                <a href="{{ url_for('pratos.deletar', prato_id=prato._id) }}">Deletar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('pratos.adicionar') }}">Adicionar novo prato</a>
</body>
</html>
